<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDQ3l2Ick1Erdmf3UvXZlnPn-CLh4Zir5g</string>
	<key>GCM_SENDER_ID</key>
	<string>126210642252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.walter.jobspot.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>walter-jobspot</string>
	<key>STORAGE_BUCKET</key>
	<string>walter-jobspot.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:126210642252:ios:254663782514a53c3a3fe9</string>
</dict>
</plist>